@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section scripts{

    <script src="~/js/home-index.js"></script>
    <script src="~/js/home-movie-edit.js"></script>
}

<div data-ng-view="" class="shuffle-animation"></div>