
<form name="newReviewForm" novalidate="" class="form-inline">
    <fieldset>
        <legend>Movie Reviews</legend>

        <div class="form-group">
            <label for="ReviewerName">Reviewer Name</label>

            <input name="ReviewerName" type="text" data-ng-model="newReviewForm.ReviewerName" required data-ng-minlength="5" />
            <span class="input-validation-error" data-ng-show="newReviewForm.ReviewerName.$error.required">*</span>
            <span class="input-validation-error" data-ng-show="newReviewForm.ReviewerName.$error.minlength">Please enter 5 Charcters Title</span>
        </div>
        <div class="form-group">
            <label for="ReviewerComments">Reviewer Comments</label>

            <input name="ReviewerComments" type="text" data-ng-model="newReviewForm.ReviewerComments" required data-ng-minlength="10" />
            <span class="input-validation-error" data-ng-show="newReviewForm.ReviewerComments.$error.required">*</span>
            <span class="input-validation-error" data-ng-show="newReviewForm.ReviewerComments.$error.minlength">Please enter 10 Charcters Title</span>
        </div>
        <div class="form-group">
            <label for="ReviewerRating">Reviewer Rating</label>

            <input name="ReviewerRating" type="text" data-ng-model="newReviewForm.ReviewerRating" required />
            <span class="input-validation-error" data-ng-show="newReviewForm.ReviewerRating.$error.required">*</span>
        </div>


        <p>
            <input class="btn-primary" type="submit" value="Create" />
        </p>
    </fieldset>
</form>
